<?xml version="1.0" ?>
<robot name="hopper">
  <link name="head">
    <inertial>
      <mass value="100"/>
      <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100"/>
    </inertial>
    <collision name="head_collision">
      <origin xyz="0 0 3.2">
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </collision>
    <visual name="head_visual">
      <origin xyz="0 0 3.2">
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <link name="leg1">
    <inertial>
      <mass value="10"/>
      <inertia ixx="10" ixy="0" ixz="0" iyy="10" iyz="0" izz="10"/>
    </inertial>
    <collision name="leg1_collision">
      <origin xyz="0 0 2.0">
      <geometry>
        <cylinder radius="0.1" length="1"/>
      </geometry>
    </collision>
    <visual name="leg1_visual">
      <origin xyz="0 0 2.0">
      <geometry>
        <cylinder radius="0.1" length="1"/>
      </geometry>
    </visual>
  </link>
  <link name="leg2">
    <inertial>
      <mass value="10"/>
      <inertia ixx="10" ixy="0" ixz="0" iyy="10" iyz="0" izz="10"/>
    </inertial>
    <collision name="leg2_collision">
      <origin xyz="0 0 0.8">
      <geometry>
        <cylinder radius="0.1" length="1"/>
      </geometry>
    </collision>
    <visual name="leg2_visual">
      <origin xyz="0 0 0.8">
      <geometry>
        <cylinder radius="0.1" length="1"/>
      </geometry>
    </visual>
  </link>

  <joint name="hip_joint" type="">
  <joint/>
  <link name="hip">
    <inertial>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <collision name="hip_collision">
      <origin xyz="0 0 2.6">
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </collision>
    <visual name="hip_visual">
      <origin xyz="0 0 2.6">
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </visual>
  </link>
  <link name="knee">
    <inertial>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <collision name="knee_collision">
      <origin xyz="0 0 1.4">
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </collision>
    <visual name="knee_visual">
      <origin xyz="0 0 1.4">
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </visual>
  </link>
  <link name="ankle">
    <inertial>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <collision name="ankle_collision">
      <origin xyz="0 0 0.2">
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </collision>
    <visual name="ankle_visual">
      <origin xyz="0 0 0.2">
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </visual>
  </link>
</robot>
